# Node.js dependencies
/node_modules/

# Environment variables file
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: OS-specific files
.DS_Store
Thumbs.db

# Optional: Editor configs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
